/* -------------Start Style Order Complete--------------------- */

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@font-face {
  font-family: "SF Pro Text-Semibold";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.animaapp.com/SFProText-Semibold") format("opentype");
}

@font-face {
  font-family: "Brandon Grotesque-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.animaapp.com/BrandonGrotesque-Regular") format("opentype");
}

@font-face {
  font-family: "Brandon Grotesque-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("https://fonts.animaapp.com/BrandonGrotesque-Medium") format("opentype");
}

* {
  box-sizing: border-box;
}
.border-1px-neon-carrot {
  border: 1px solid var(--neon-carrot);
}
.brandongrotesque-medium-neon-carrot-16px {
  color: var(--neon-carrot);
  font-family: "Brandon Grotesque-Medium", Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.brandongrotesque-medium-port-gore-32px {
  color: var(--port-gore);
  font-family: "Brandon Grotesque-Medium", Helvetica;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
}
.brandongrotesque-medium-white-16px {
  color: white;
  font-family: "Brandon Grotesque-Medium", Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.brandongrotesque-regular-normal-port-gore-20px {
  color: var(--port-gore);
  font-family: "Brandon Grotesque-Regular", Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.order-complete {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 812px;
  overflow: hidden;
  width: 375px;
}
.order-complete .battery {
  align-items: flex-start;
  display: flex;
  height: 11px;
  margin-left: 4px;
  margin-top: 2px;
  min-width: 24px;
}
.order-complete .combined-shape {
  align-self: center;
  height: 4px;
  margin-top: 0px;
  width: 2px;
}
.order-complete .continue-shopping {
  height: 24px;
  letter-spacing: -0.16px;
  line-height: 24px;
  min-height: 24px;
  min-width: 119px;
  text-align: center;
  white-space: nowrap;
}
.order-complete .frame-48 {
  align-items: center;
  background-color: var(--neon-carrot);
  border-radius: 10px;
  display: flex;
  height: 56px;
  margin-top: 54px;
  overflow: hidden;
  padding: 0 30px;
  width: 133px;
}
.order-complete .frame-49 {
  align-items: center;
  border-radius: 10px;
  display: flex;
  height: 56px;
  margin-top: 48px;
  overflow: hidden;
  padding: 0 30px;
  width: 181px;
}
.order-complete .group-48 {
  height: 164px;
  margin-right: 3px;
  width: 164px;
}
.order-complete .group-49 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 6px;
  margin-top: 118px;
  min-height: 328px;
  width: 251px;
}
.order-complete .mobile-signal {
  height: 11px;
  margin-left: 218px;
  margin-top: 2px;
  width: 18px;
}
.order-complete .overlap-group {
  align-items: flex-end;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6053766380ac5a00284050b6/releases/605712a195d7e963908e50fe/img/rectangle@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 12px;
  margin-top: -0.33px;
  min-width: 22px;
  padding: 2px 2px;
}
.order-complete .rectangle {
  height: 8px;
  width: 18px;
}
.order-complete .text-1 {
  height: 18px;
  letter-spacing: -0.3px;
  min-height: 18px;
  text-align: center;
  width: 56px;
}
.order-complete .text-2 {
  height: 60px;
  letter-spacing: -0.2px;
  line-height: 30px;
  margin-right: 2px;
  margin-top: 16px;
  min-height: 60px;
  text-align: center;
  width: 249px;
}
.order-complete .time-style {
  align-items: flex-end;
  align-self: flex-end;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6053766380ac5a00284050b6/releases/605712a195d7e963908e50fe/img/task-platter@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 21px;
  min-width: 54px;
  padding: 1px 0;
}
.order-complete .title {
  height: 32px;
  letter-spacing: -0.32px;
  line-height: 32px;
  margin-right: 3px;
  margin-top: 56px;
  min-height: 32px;
  min-width: 226px;
  text-align: center;
  white-space: nowrap;
}
.order-complete .track-order {
  height: 24px;
  letter-spacing: -0.16px;
  line-height: 24px;
  min-height: 24px;
  min-width: 71px;
  text-align: center;
  white-space: nowrap;
}
.order-complete .ui-bars-status-s-time-red-task {
  align-items: center;
  display: flex;
  height: 44px;
  justify-content: flex-end;
  margin-right: 0px;
  min-width: 375px;
  padding: 11px 14.7px;
}
.order-complete .wifi {
  height: 12px;
  margin-left: 4px;
  margin-top: 1.63px;
  width: 16px;
}
.sfprotext-normal-white-15px {
  color: white;
  font-family: "SF Pro Text-Semibold", Helvetica;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}
:root {
  --neon-carrot: rgba(255, 164, 81, 1);
  --port-gore: rgba(39, 33, 77, 1);
}
.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.valign-text-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* -------------End Style Order Complete--------------------- */